.inline-related .form-row {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}

.inline-related .form-row > div {
    margin-right: 10px;
    flex-grow: 1;
}

.inline-related .form-row .description {
    flex-basis: 100%;
    margin-top: 10px;
}

.inline-related .form-row .field-description {
    flex-basis: 100%;
    margin-top: 10px;
}

.inline-related .delete {
    margin-left: auto;
}
